.sidenav-container {
  height: 100%;
}

.active {
    background: lightgrey;
}

.sidenav {
  width: 250px;

  .mat-toolbar {
    background: inherit;
  }

  .lang-buttons-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    .lang-buttons {
      display: flex;
    
      > * {
        flex: 1;
      }
    }
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

:host::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding-left: 25px;
}

.headers {
    font-size: 30px;
    font-weight: 600;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menulist {
    padding-top: 10px;
}

.app-title {
    background: lightgray;
    position: fixed;
    z-index: 1000;
    padding-right: 10vw;
}
