/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    box-sizing: border-box;
}

.app-sub {
    position: relative;
    bottom: -0.25rem;
    font-size: 100%;
}
  
.mat-select-panel {
    max-height: 80vh !important;
}

.shadowed {
    -webkit-box-shadow: 8px 16px 41px -18px rgba(143, 144, 146, 0.68);
    -moz-box-shadow: 8px 16px 41px -18px rgba(143, 144, 146, 0.68);
    box-shadow: 8px 16px 41px -18px rgba(143, 144, 146, 0.68);
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: grey;
}